*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
body { text-align: center;}
html {
  background: url(/back/BG.png) no-repeat center center;
  min-height: 100%;
  background-size: cover;
}
h1 { font-family: "Krona One", sans-serif;
  font-size: 24px;
  font-style: normal;
  background:linear-gradient(90deg, rgba(255, 255,255, 0.48) 0%, rgba(255, 255,255, 0.90) 50%, rgba(255, 255,255, 0.48) 100% ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 13px;

}
a { font-family: "Krona One", sans-serif;
  font-size: 20px;
  font-style: normal;
  background:linear-gradient(90deg, rgba(255, 255,255, 0.32) 0%, rgba(255, 255,255, 0.80) 50%, rgba(255, 255,255, 0.32) 100% ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 10.25px 32.5px;
}
.button {
  background: rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 0px 0px; 
  border-radius: 32px; 
  border: 0.25px solid rgba(255, 255,255, 0.40); 
  text-align: center;
}
@font-face {
  font-family: "Krona One";
  src: url(/fonts/KronaOne-Regular.ttf);
}
.center1 { margin-top: 45.92%; margin-bottom: 44.85%; margin: 50% 0%;}